@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,100&display=swap');

$font: 'Roboto', sans-serif;

//DayMode Palette
$light_green_header_color: #9DBF69;
$light_green_note_color: #BED996;
$light_green_task_color: #DFECCB;
$light_yellow_color: #F4E558;
$light_blue_background_color: #C9E2E8;

//NightMode Palette
$dark_grey_header_color: #252526;
$dark_grey_note_color: #545A63;
$dark_grey_task_color: #A9ACB1;
$dark_blue_color: #2196F3;
$dark_grey_background_color: #E5E5E5;
